/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { padding: 5px; background-color: darkslategrey;margin: 0; color: orange; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-slider-min-value .mat-slider-thumb {
    background-color: #69f0ae;
}
